/* static
   relative
   absolute
   fixed
   sticky */
        .container{
            border: 2px solid black;
            background-color: khaki;
            height: 3444px;
        }
        .box{
        display: inline-block;
        border: 2px solid red;
        width: 150px;
        height: 150px;
        margin: 2px;
        text-align: center;
        }
    #box3{
        position: relative; /* For give this you can handle particular box to your wish how you will be handle like this. */
        top: 130px;   /* Also Give Gap this Syntax , Only use for gap also not get any position.*/
        left: 162px;
        }
